<h1>Ruby is Red. Rail is black.</h1>
<p>
A new <a href="http://github.com/allthingsgo"> beginner </a> on github.com ... 
</p>
<pre>
 ______________
| 妙笔生花史景迁 |
<%= Cowsay.say("?") %>
| 妙笔生花史景迁 |
 --------------
          \
           \
            \          __---__
                    _-       /--______
               __--( /     \ )XXXXXXXXXXX\v.
             .-XXX(   O   O  )XXXXXXXXXXXXXXX-
            /XXX(       U     )        XXXXXXX\
          /XXXXX(              )--_  XXXXXXXXXXX\
         /XXXXX/ (      O     )   XXXXXX   \XXXXX\
         XXXXX/   /            XXXXXX   \__ \XXXXX
         XXXXXX__/          XXXXXX         \__----&gt;
 ---___  XXX__/          XXXXXX      \__         /
   \-  --__/   ___/\  XXXXXX            /  ___--/=
    \-\    ___/    XXXXXX              &#39;--- XXXXXX
       \-\/XXX\ XXXXXX                      /XXXXX
         \XXXXXXXXX   \                    /XXXXX/
          \XXXXXX      &gt;                 _/XXXXX/
            \XXXXX--__/              __-- XXXX/
             -XXXXXXXX---------------  XXXXXX-
                \XXXXXXXXXXXXXXXXXXXXXXXXXX/
                  &quot;&quot;VXXXXXXXXXXXXXXXXXXV&quot;&quot;

<%= Cowsay.say( Cowsay.say( "女娲补天叶澍苍") ) %>
</pre>
