<h1>Ruby is Red. Rail is black.</h1>
<p>
 Follow <a href="http://github.com/allthingsgo"> ME</a> on github.com/allthingsgo !  
</p>
<pre>
 ________________ 
| 妙笔生花史景迁 |
| 女娲补天叶澍苍 |
 ------- 
          \
           \
            \          __---__
                    _-       /--______
               __--( /     \ )XXXXXXXXXXX\v.
             .-XXX(   O   O  )XXXXXXXXXXXXXXX-
            /XXX(       U     )        XXXXXXX\
          /XXXXX(              )--_  XXXXXXXXXXX\
         /XXXXX/ (      O     )   XXXXXX   \XXXXX\
         XXXXX/   /            XXXXXX   \__ \XXXXX
         XXXXXX__/          XXXXXX         \__----&gt;
 ---___  XXX__/          XXXXXX      \__         /
   \-  --__/   ___/\  XXXXXX            /  ___--/=
    \-\    ___/    XXXXXX              &#39;--- XXXXXX
       \-\/XXX\ XXXXXX                      /XXXXX
         \XXXXXXXXX   \                    /XXXXX/
          \XXXXXX      &gt;                 _/XXXXX/
            \XXXXX--__/              __-- XXXX/
             -XXXXXXXX---------------  XXXXXX-
                \XXXXXXXXXXXXXXXXXXXXXXXXXX/
                  &quot;&quot;VXXXXXXXXXXXXXXXXXXV&quot;&quot;

</pre>

<p>
<pre>
<%= Cowsay.say("Got any grapes?") %>
</pre>
